<% content_for(:title, 'edit | Sake_load') %>
<h2 class="">プロフィール変更画面</h2>

<%= render 'form', user: @user%>

<%= link_to "一覧に戻る", users_path %>
<%= link_to "削除", user_path(@user), method: :DELETE, data: { confirm: "削除してよろしいですか？" } %>
